@font-face{
    font-family: 'Roboto';
    src: url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
}

:root {
    --primary: #2e7d32;
    --secondary: #0288D1;
    --accent: #ffb300;
    --dark: #212121;
}

body{
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    color: silver;
}

header{
    position: absolute;
    display: block;
    width: 100%;
}

nav{
    display: flex;
    align-items: center;
    z-index: 1;
}

#navContainer{
    flex: auto;
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    padding: 30px 15px;
}

#logo{
    margin: auto;
    font-weight: 700;
    font-size: 1.55em;
}

#collapse{
    margin: auto;
    font-size: 1.25em;
}

#search{
    margin: auto;
}

section{
    /* adjust/remove after info is added */
    display: flex;
}

#hero{
    background-color: var(--primary);
    background-image: url(/assets/images/main_background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 170px;
    height: 100vh;
    gap: 50px;
}

#heroTxt{
    flex: auto;
    background-color: blue;
    width: 100%;
    margin-left: auto;
}

#heroTxt>h1{
    font-size: 2.5em;
}
#heroTxt>p{
    font-size: 1.5em;
}
#heroTxt>button{
    font-size: 1.5em;
}

#heroImg{
    flex: auto;
    background-color: red;
    width: 60%;
    margin-right: auto;
}

.sectionHead{
    background-color: var(--accent);
    margin: 0 auto;
    font-size: 1.5em;
}

#about{
    color: var(--dark);
    background-color: white;
    padding: 100px;
    gap: 50px;
}

#aboutImgs{
    display: flex;
    flex: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#top{
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 100%;
}
#img1, #img2{
    width: 50%;
    background: green;
}

#bot{
    width: 100%;
}

#img3{
    background-color: purple;
}

#aboutTxt{
    flex: auto;
    width: 40%;
}

#services{
    background-color: var(--primary);
}

#testimonials{
    color: var(--dark);
}

footer{
    background-color: var(--dark);
}

