:root {
    --primary: #2e7d32;
    --secondary: #0288D1;
    --accent: #ffb300;
    --dark: #212121;
}

body{
    margin: 0;
    padding: 0;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    background-color: black;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    color: silver;
}

button{
    border-radius: 10px;
    font-size: 1.5em;
    background-color: var(--secondary);
    color: white;
    border: 2px solid white;
    padding: 8px 15px;
    cursor: pointer;
}

button:hover{
    box-shadow: 0px 7px 17px rgba(0, 0, 0, 0.35);
}

button:active{
    background-color: #086292;
}

header{
    position: absolute;
    display: block;
    width: 100%;
}

nav{
    display: flex;
    align-items: center;
    z-index: 1;
}

#navContainer{
    flex: auto;
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    padding: 30px 15px;
}

#navToggle{
    background: none;
    border: none;
    box-shadow: none;
}

#navToggle:hover{
    color: silver;
}

.hide{
    display: none;
}

.sticky{
    display: block;
    z-index: 200;
}

#navContainerB{
    background-color: whitesmoke;
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    padding: 30px 15px;
    box-shadow: 0px 7px 17px rgba(0, 0, 0, 0.35);
    z-index: 2;

}

#navContainerC{
    background-color: whitesmoke;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    padding: 30px 15px;
    box-shadow: 0px 7px 17px rgba(0, 0, 0, 0.35);
}

#navContainerB>div>a, 
#navContainerB>div>ul>a,
#navContainerC>div>a,
#navContainerC>div>ul>a{
    color: var(--dark);
}

#navContainerB>div>a:hover, 
#navContainerB>div>ul>a:hover,
#navContainerC>div>a:hover,
#navContainerC>div>ul>a:hover{
    color: silver;
}

#logo{
    margin: auto;
    font-weight: 700;
    font-size: 1.55em;
}

#collapse{
    margin: auto;
    font-size: 1.25em;
}

#collapse>ul{
    display: flex;
    list-style-type: none;
    flex-direction: row;
    gap: 50px;

}

#search{
    margin: auto;
    width: 2%;
}

#hero{
    background-color: var(--primary);
    background-image: linear-gradient(0deg, #0000004d, #000000b8), url(../assets/images/main_background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    gap: 50px;
}

#heroContent{
    display: flex;
    width: 80%;
    justify-content: center;
    align-items: center;
    gap: 5%;
    margin-top: 50px;
}

#heroTxt{
    flex: auto;
    width: 50%;
    margin-left: auto;
}

#heroTxt>h1{
    font-size: 2.5em;
    padding-bottom: 30px;
    border-bottom: 3px solid var(--accent);
}

#heroTxt>p{
    font-size: 1.35em;
    font-weight: 500;
    line-height: 1.65em;
    padding-bottom: 10px;
}

#heroImg{
    flex: auto;
    margin-right: auto;
    width: 40%;
}

#heroImg>img{
    width: 100%;
}

.sectionHead{
    margin: 0 auto 40px;
    font-size: 1.5em;
    border-bottom: 3px solid var(--accent);
    text-align: center;
}

#about{
    color: var(--dark);
    background-color: white;
    padding: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#aboutContent{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    gap: 7.5%;
}

#aboutImg{
    flex: auto;
    justify-content: center;
    align-items: center;
    width: 35%;
    margin: auto;
}

#aboutImg>img{
    width: 100%;
}

#aboutTxt{
    flex: auto;
    width: 45%;
}

#aboutTxt>.sectionHead>h1{
    text-align: start;
}

.sectionTxt>p{
    font-size: 1.35em;
    font-weight: 500;
    line-height: 1.65em;
}

#services{
    background-color: var(--primary);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0 80px 0;
}

#serviceGrid{
    flex-wrap: wrap;
    flex: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    width: 70%;
    margin: auto;
}

.serviceCard{
    background-color: whitesmoke;
    border: 2px solid var(--dark);
    border-radius: 10px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 15px;
    color: #2f2f2f;
    box-shadow: 0 7px 20px rgba(0, 0, 0, 0.35);
}

.serviceIcon{
    flex: auto;
    min-width: 75px;
}

.serviceTxt{
    flex: auto;
    min-width: 100px;
}

.ctaTxt{
    text-align: center;
    padding-top: 30px;
}

/* Client Testimonials CSS */

#testimonials{
    background: url(../assets/images/energy_background_pattern.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--dark);
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px 0 80px 0;
}

.testimonialContainer{
    display: flex;
    gap: 30px;
    width: 80%;
    margin: 0 auto 30px;
}

#backward, #forward{
    margin: auto;
    width: 70px;
    height: 70px;
    margin: auto;
}

.review {
    background: linear-gradient(135deg, white, whitesmoke);
    border: 3px solid var(--dark);
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 600px;
    height: 250px;
    box-shadow: 0 7px 20px rgba(0, 0, 0, 0.35);
}
  
#testimonial {
    font-family: "Roboto", sans-serif;
    font-size: 1.5em;
    font-weight: 500;
    padding: 20px 90px 0;
    color: var(--dark);
}

#author {
    font-family: "Roboto", sans-serif;
    font-size: 1.25em;
    padding-bottom: 20px;
    color: var(--dark);
    font-weight: 500;
}

/* Footer CSS */

footer{
    background-color: var(--dark);
    display: flex;
    flex-direction: column;
    font-size: 1.15em;
}

#socials{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding-top: 35px;
}

#footContent{
    flex: auto;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    margin: auto;
    width: 85%;
    gap: 80px;
    padding: 20px;
}

.footInfo{
    width: 300px;
    flex: auto;
}

.footName{
    border-bottom: 2px solid var(--accent);
    padding-bottom: 20px;
}

.footInfo>p{
    line-height: 1.7em;
}

.footLinks{
    flex: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100px;
}

.footContact{
    flex: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
}

.copyright{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    text-align: center;
}

/* Contact Us Page Styling */
#contact{
    color: var(--dark);
    background-color: white;
    padding: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    background-image: url(../assets/images/energy_background_pattern.png);
    background-repeat: none;
    background-size: cover;
}

#formHeader{
    background-color: var(--primary);
    color: whitesmoke;
    width: 50%;
    font-size: 1.5em;
    text-align: center;
    z-index: 1;
    margin-top: 40px;
}

.contactHead{
    margin-top: 70px;
}

.formContainer{
    flex: auto;
    display: flex;
    width: 75%;
    justify-content: center;
    align-items: center;
    margin-top: -30px;
}

form {
    width: 100%;
    padding: 50px 50px 30px 50px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.nameForm{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: start;
}

#first, #last{
    width: 45%;
    padding: 10px 0;
}

.emailForm,
.phoneForm,
.commentForm{
    width: 100%;
}

label {
    margin-right: auto;
    display: block;
    margin-bottom: 10px;
}

input, textarea {
    width: 100%;
    padding: 10px 0 10px 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
}

.formCompleteCard{
    width: 65%;
    margin-top: 50px;
    padding: 40px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
    text-align: center;
}

@media only screen and (max-width: 768px) {
    #navToggle{
        margin-left: auto;
        display: block;
    }

    #navToggle.active {
        background-color: var(--accent);
      }

    #navToggle.active + #collapse {
        display: block;
    }

    #collapse{
        display: none;
    }

    #heroImg{
        display: none;
    }

    #aboutContent{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #aboutImg{
        width: 100%;
        display: flex;
    }

    #aboutImg>img{
        width: 60%;
    }

    #aboutTxt{
        width: 100%;
    }

    #footContent{
        gap: 20px;
    }

    .footLinks{
        margin-left: 80px;
    }

    .footContact{
        flex-direction: row;
        gap: 7.5%;
        font-size: .85em;
    }

    .formContainer{
        width: 100%;
    }
}

@media only screen and (max-width: 481px){
    .footContact{
        flex-direction: column;
    }
}